<header>
  <h1>{{ site.title }}</h1>
  <nav>
    <a href="{ '/'}">Home</a>
    <a href="{ '/day1' }">Day 1</a>
    <a href="{ 'HTMLCourse7Day/day2.html' }">Day 2</a>
    <a href="{ 'HTMLCourse7Day/day3.html' }">Day 3</a>
    <a href="{ 'HTMLCourse7Day/day4.html' }">Day 4</a>
    <a href="{ 'HTMLCourse7Day/day5.html' }">Day 5</a>
    <a href="{ 'HTMLCourse7Day/day6.html' }">Day 6</a>
    <a href="{ 'HTMLCourse7Day/day.html7' }">Day 7</a>
    <a href="{ 'HTMLCourse7Day/myprofile.html' }">My Profile</a>
  </nav>
</header>
