<!-- _includes/header.html -->
<header>
  <h1>{{ site.title }}</h1>
  <nav>
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/day1.html">Day 1</a>
    <a href="{{ site.baseurl }}/day2.html">Day 2</a>
    <a href="{{ site.baseurl }}/day3.html">Day 3</a>
    <a href="{{ site.baseurl }}/day4.html">Day 4</a>
    <a href="{{ site.baseurl }}/day5.html">Day 5</a>
    <a href="{{ site.baseurl }}/day6.html">Day 6</a>
    <a href="{{ site.baseurl }}/day7.html">Day 7</a>
    <a href="{{ site.baseurl }}/myprofile.html">My Profile</a>
  </nav>
</header>
