<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <link rel="canonical" href="{{ page.canonical }}" />
    <meta property="og:title" content="{{ page.og.title }}" />
    <meta property="og:type" content="{{ page.og.type }}" />
    <meta property="og:url" content="{{ page.og.url }}" />
    <meta property="og:image" content="{{ page.og.image }}" />
    <meta property="og:description" content="{{ page.og.description }}" />
    <meta property="og:site_name" content="{{ page.og.site_name }}" />
    <meta name="twitter:card" content="{{ page.twitter.card }}" />
    <meta name="twitter:site" content="{{ page.twitter.site }}" />
    <meta name="twitter:title" content="{{ page.twitter.title }}" />
    <meta name="twitter:description" content="{{ page.twitter.description }}" />
    <meta name="twitter:image" content="{{ page.twitter.image }}" />
    <meta name="robots" content="{{ page.robots }}" />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | relative_url }}"
    />
  </head>
  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %}
  </body>
</html>
